version: '3.7'
services:
  bot:
    container_name: proforient_bot
    #user: 5054:5055
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      DATABASE_URL: mysql+pymysql://root:root@host.docker.internal/proforient #${DATABASE_URL}
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      OTP_SECRET: ${OTP_SECRET}
      BOT_USERNAME: ${BOT_USERNAME}