services:
  bot:
    container_name: questbot
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      TELEGRAM_TOKEN: ${TELEGRAM_TOKEN}
      OTP_SECRET: ${OTP_SECRET}
      BOT_USERNAME: ${BOT_USERNAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
